<a href="https://colab.research.google.com/github/brenosyperrek/python_pandas/blob/main/Aula_Extra_Criando_Faixas_de_Valor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot창nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien처polis,1,0,0,48,800.0,230.0,NaN

In [4]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais
classes = [0, 2, 4, 6, 100]

In [7]:
quartos = pd.cut(dados['Quartos'], classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
32955           NaN
32956    (2.0, 4.0]
32957    (0.0, 2.0]
32958    (0.0, 2.0]
32959           NaN
Name: Quartos, Length: 32960, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [8]:
pd.value_counts(quartos)

(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: Quartos, dtype: int64

In [9]:
labels = ['1 a 2 quartos', '3 a 4 quartos', '5 a 6 quartos', '7 ou mais quartos']

In [10]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels)
pd.value_counts(quartos)

1 a 2 quartos        12419
3 a 4 quartos         9894
5 a 6 quartos          709
7 ou mais quartos       87
Name: Quartos, dtype: int64

In [12]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels, include_lowest = True)
pd.value_counts(quartos)

1 a 2 quartos        22270
3 a 4 quartos         9894
5 a 6 quartos          709
7 ou mais quartos       87
Name: Quartos, dtype: int64