<a href="https://colab.research.google.com/github/brenosyperrek/python_pandas/blob/main/Aula_Extra_Criando_Estruturas_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import pandas as pd

# Series

In [99]:
data = [1, 2, 3, 4, 5]

In [100]:
s = pd.Series(data)

In [101]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [102]:
index = ['Linha' + str(i) for i in range(5)]

In [103]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [104]:
s = pd.Series(data = data, index = index)

In [105]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [106]:
data = {'Linha' + str(i) : i for i in range(5)}

In [107]:
data

{'Linha0': 0, 'Linha1': 1, 'Linha2': 2, 'Linha3': 3, 'Linha4': 4}

In [108]:
s = pd.Series(data)

In [109]:
s

Linha0    0
Linha1    1
Linha2    2
Linha3    3
Linha4    4
dtype: int64

In [110]:
s1 = s + 2

In [111]:
s1

Linha0    2
Linha1    3
Linha2    4
Linha3    5
Linha4    6
dtype: int64

In [112]:
s2 = s + s1

In [113]:
s2

Linha0     2
Linha1     4
Linha2     6
Linha3     8
Linha4    10
dtype: int64

# DataFrames

In [114]:
data = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]

In [115]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [116]:
df = pd.DataFrame(data)

In [117]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [118]:
index = ['Linha' + str(i) for i in range(3)]

In [119]:
index

['Linha0', 'Linha1', 'Linha2']

In [120]:
columns = ['Coluna' + str(i) for i in range(3)]

In [121]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [122]:
df = pd.DataFrame(data = data, index = index, columns = columns)

In [123]:
df

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [124]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [125]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [126]:
df1 = pd.DataFrame(data)

In [127]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [128]:
data = [(1, 2, 3),(4, 5, 6),(7, 8, 9)]

In [129]:
df2 = pd.DataFrame(data=data, index = index, columns = columns)

In [130]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [131]:
df.dtypes

Coluna0    int64
Coluna1    int64
Coluna2    int64
dtype: object

In [132]:
df[df > 0] = 'A'

In [133]:
df1[df1 > 0] = 'B'

In [134]:
df2[df2 > 0] = 'C'

In [135]:
df4 = pd.concat([df, df1, df2])

In [136]:
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [137]:
df4 = pd.concat([df, df1, df2], axis = 1)

In [138]:
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C