<a href="https://colab.research.google.com/github/brenosyperrek/python_pandas/blob/main/Aula_Extra_Contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('aslkdjlsakhdlkashfjhfkjdhfkjhflskdjflksjdf'))
s

0     a
1     s
2     l
3     k
4     d
5     j
6     l
7     s
8     a
9     k
10    h
11    d
12    l
13    k
14    a
15    s
16    h
17    f
18    j
19    h
20    f
21    k
22    j
23    d
24    h
25    f
26    k
27    j
28    h
29    f
30    l
31    s
32    k
33    d
34    j
35    f
36    l
37    k
38    s
39    j
40    d
41    f
dtype: object

In [3]:
s.unique()

array(['a', 's', 'l', 'k', 'd', 'j', 'h', 'f'], dtype=object)

In [4]:
s.value_counts() # Distribuição de frequências

k    7
j    6
f    6
s    5
l    5
d    5
h    5
a    3
dtype: int64

In [7]:
dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [9]:
dados['Tipo'].unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [8]:
dados['Tipo'].value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: Tipo, dtype: int64